<div id="admin-search"
     class="input-group">
  <input id="admin-form-input"
         class="form-control form-control-lg"
         type="text"
         name="query-netid"
         placeholder="Search for a netID"
         value="{{ last_query }}"
         pattern="^[a-zA-Z0-9]+$"
         maxlength="20"
         data-bs-toggle="tooltip"
         data-bs-placement="top"
         data-bs-trigger="hover"
         title="Search for a netID. Please enter only alphanumerics."
         autocapitalize="off" />
  <button class="btn btn-warning px-4"
          type="submit">
    <i class="bi bi-search fs-6"></i>
  </button>
</div>