<div class="container px-0 ms-0 d-flex align-items-center h-100">
  <div class="row">
    <form id="account-settings">
      <div class="input-group my-1">
        <div class="input-group-text px-3 py-1">
          <i class="bi bi-gear-wide-connected fs-4"></i>
        </div>
        <button data-title="Account Settings"
                data-intro="Set your phone number and configure other notifications preferences here!"
                data-step="1"
                type="submit"
                class="btn btn-warning w-auto">Edit Contact & Subscription Settings</button>
      </div>
    </form>
  </div>
</div>

{% include 'utils/user_settings.html' %}