{% if data.keys()|length == 0 %}

<div class="container-fluid d-flex">
  <div class="row text-center align-self-center mx-auto">
    <p class="fs-5 px-0 my-0">
      Your subscribed sections are displayed here. <br />
      Search to get started!
    </p>
  </div>
</div>

{% else %}

<div class="table-responsive">
  <table class="table table-hover mt-2">
    <thead class="table-white">
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Section</th>
        <th scope="col">
          Subscribe
          <i class="bi bi-info-square-fill text-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="Unsubscribe from a section by turning off its switch!"></i>
        </th>
        <th scope="col">
          Last Notif
          <i class="bi bi-info-square-fill text-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="When did TigerSnatch last send notifications (ET) for open spots in a section?"></i>
        </th>
        <th scope="col">Days</th>
        <th scope="col">Time</th>
        {% if user_is_admin %}
        <th scope="col">ClassID (admin)</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for classid in data.keys() %}
      <tr class="dashboard-course-row"
          data-courseid="{{data[classid].courseid}}">
        <td>
          <a class="dashboard-course-link text-decoration-underline text-dark"
             href="/course?query={{last_query}}&courseid={{data[classid].courseid}}&skip">{{data[classid].displayname}}</a>
        </td>
        <td>{{data[classid].section}}</td>
        <td>
          <div class="form-check form-switch">
            <input class="form-check-input waitlist-switch dashboard-switch"
                   type="checkbox"
                   id="switch-{{classid}}"
                   data-classid="{{classid}}"
                   data-bs-toggle="modal"
                   data-bs-target="#confirm-remove-waitlist"
                   checked />
          </div>
        </td>
        <td>{{data[classid].time_of_last_notif}}</td>
        <td>{{data[classid].days}}</td>
        {% if data[classid].end_time == "" %}
        <td>{{data[classid].start_time}}</td>
        {% else %}
        <td>{{data[classid].start_time}} - {{data[classid].end_time}}</td>
        {% endif %}
        {% if user_is_admin %}
        <td>{{classid}}</td>
        {% endif %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endif %} {% include 'utils/modals.html' %}