<div
  class="container px-0 ms-0 d-flex flex-column justify-content-center h-100"
>
  <div class="row mt-1 mb-1">
    <div style="line-height: 1.6em">
      <span class="bg-warning rounded-2 me-1" style="padding: 0px 5px 1px">
        <i class="bi bi-bell"></i
      ></span>
      {{ next_notifs }}
    </div>
  </div>
  <div class="row mb-1">
    <div style="line-height: 1.6em">
      <span class="bg-warning rounded-2 me-1" style="padding: 0px 5px 2px">
        <i class="bi bi-calendar-x"></i
      ></span>
      Is this wrong?{% if using_auto_notifs_scheduler %} Email us at
      it.admin[at]tigerapps.org!{% else %} Leave a comment in
      <a
        class="text-dark text-decoration-underline"
        href="https://docs.google.com/spreadsheets/d/1iSWihUcWa0yX8MsS_FKC-DuGH75AukdiuAigbSkPm8k/edit?usp=sharing"
        target="_blank"
      >
        this Sheet</a
      >! {% endif %}
    </div>
  </div>
</div>
