<div class="container px-0 ms-0 d-flex flex-column justify-content-center h-100">
    <div class="row mt-1 mb-2">
        <div style="line-height: 1.6em">
            <span id="status-indicator"
                  class="me-1"
                  style="background-color: #ffc107; border-radius: 0.25rem; padding: 3px">
                <i class="bi bi-bell"></i></span>
            {{ next_notifs }}
        </div>
    </div>
    <div class="row mb-1">
        <div style="line-height: 1.6em">
            <span id="status-indicator"
                  class="me-1"
                  style="background-color: #ffc107; border-radius: 0.25rem; padding: 3px">
                <i class="bi bi-calendar-x"></i></span>
            Is this wrong? Leave a comment in <a
               href="https://docs.google.com/spreadsheets/d/1iSWihUcWa0yX8MsS_FKC-DuGH75AukdiuAigbSkPm8k/edit?usp=sharing"
               target="_blank"
               style="text-decoration: underline;">
                this Sheet</a>!
        </div>
    </div>
</div>