Flask==2.1.0
gunicorn==22.0.0
multiprocess==0.70.11.1
pymongo==3.11.3
Werkzeug==2.2.3
requests==2.31.0
Jinja2==3.1.1
dnspython==1.16.0
APScheduler==3.7.0
heroku3==4.2.3
pandas==1.5.1
sendgrid==6.0.5
twilio==6.63.0
markdown==3.3.6
icalendar==5.0.5