APScheduler==3.7.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
dill==0.3.9
dnspython==1.16.0
Flask==2.1.0
gunicorn==19.9.0
heroku3==4.2.3
icalendar==5.0.5
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.1
Markdown==3.3.6
MarkupSafe==3.0.2
multiprocess==0.70.11.1
numpy==2.2.2
pandas==1.5.1
PyJWT==1.7.1
pymongo==3.11.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
pytz==2024.2
requests==2.31.0
sendgrid==6.0.5
six==1.17.0
twilio==6.63.0
tzlocal==2.1
urllib3==2.3.0
Werkzeug==2.2.3
