<!DOCTYPE html>
<html>
  <head>
    {% include 'common.html' %}
    <title>TigerSnatch | Activity</title>
  </head>

  <body id="landing-container">
    {% if not loggedin %} {% include 'nav/nav_logged_out.html' %} {% else %}{%
    include 'nav/nav.html' %}{% endif %}
    <div class="container-fluid">
      <div class="row activity-row">
        <p class="text-center px-5 mt-4 mb-4" style="letter-spacing: 1px">
          <strong class="landing-tigersnatch-highlight fs-3 fw-bold">
            Statistics
          </strong>
        </p>
        <div id="stats-activity-col-l" class="stats-col col-xl-6">
          <div class="card activity-card mt-3">
            <div class="card-body">
              <div class="card-title text-center">Top Subscribed Courses</div>
              <div class="card-subtitle mb-2 text-muted text-center">
                Last Updated: {{ stats['stats_update_time'] }}. <br />
                Only the top subscribed section from a course is shown.
              </div>
              {% if stats['stats_top_subs'] == [] %}
              <div class="text-center">No data available.</div>
              {% else %}
              <ul class="list-group">
                {% for sub in stats['stats_top_subs'] %}
                <div
                  class="list-group-item d-flex align-items-center justify-content-between"
                >
                  <label class="stats-top-course">
                    {{sub['deptnum']}}: {{sub['name']}} ({{sub['section']}})
                  </label>
                  <span class="badge fs-6">{{ sub['size'] }}</span>
                </div>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
        </div>
        <!-- stats-activity-col-l -->

        <div id="stats-activity-col-r" class="stats-col col-xl-6">
          <div class="card activity-card text-center mt-3">
            <div class="card-body">
              <div class="card-title">General Stats</div>
              <div class="card-subtitle mb-2 text-muted">
                Last Updated: {{ stats['stats_update_time'] }}. <br />
                Subscription-related stats reset whenever next semester's
                courses are released.
              </div>
              <div class="list-group">
                <div class="list-group-item align-items-center stats-item">
                  <label> Users: </label>
                  <span class="badge fs-6"
                    >{{ stats['stats_total_users'] }}</span
                  >
                </div>
                <div class="list-group-item align-items-center stats-item">
                  <label> Subscribed Users: </label>
                  <span class="badge fs-6"
                    >{{ stats['stats_subbed_users'] }}</span
                  >
                </div>
                <div class="list-group-item align-items-center stats-item">
                  <label> Subscriptions: </label>
                  <span class="badge fs-6"
                    >{{ stats['stats_total_subs'] }}</span
                  >
                </div>
                <div
                  class="list-group-item d-flex justify-content-center align-items-center stats-item"
                >
                  <label> Sections with Subscriptions: </label>
                  <span class="badge fs-6"
                    >{{ stats['stats_subbed_sections'] }}</span
                  >
                </div>
                <div class="list-group-item align-items-center stats-item">
                  <label> Courses with Subscriptions: </label>
                  <span class="badge fs-6"
                    >{{ stats['stats_subbed_courses'] }}</span
                  >
                </div>
                <div class="list-group-item align-items-center stats-item">
                  <label> Emails/Texts Sent: </label>
                  <span class="badge fs-6"
                    >{{ stats['stats_total_notifs'] }}</span
                  >
                </div>
              </div>
              <!-- list-group -->
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->

          <div class="card activity-card text-center mt-3">
            <div class="card-body">
              <div class="card-title">Most Recent Notifications</div>
              <div class="card-subtitle mb-2 text-muted">
                Always up-to-date. Only at most 5 notifications are shown.
              </div>
              {% if stats['stats_notifs_logs'] == [] %}
              <div class="text-center">No data available.</div>
              {% else %}
              <ul class="list-group">
                {% for log in stats['stats_notifs_logs'] %}
                <div
                  class="list-group-item d-flex align-items-center justify-content-center"
                >
                  <label> {{ log }} </label>
                </div>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <!-- card-body -->
          </div>
          <!-- card -->
        </div>
        <!-- stats-activity-col-r -->
      </div>
      <!-- row -->

      <div class="row justify-content-center activity-row">
        <div id="subscription-activity-col" class="col-xl-6 mb-5">
          <p class="text-center px-5 mt-4 mb-4" style="letter-spacing: 1px">
            <strong class="landing-tigersnatch-highlight fs-3 fw-bold">
              Notifications
            </strong>
          </p>
          {% if not loggedin %}
          <div class="card activity-card text-center mt-3">
            <div class="card-body">
              <div>Log in to view your Subscriptions activity!</div>
            </div>
          </div>
          {% endif %} {% if waitlist_logs == [] %}
          <div class="card activity-card text-center mt-3">
            <div class="card-body">
              <div>
                Once a spot is available in one of your Subscribed sections and
                you receive an email and text message about that spot, a message
                will appear here!
              </div>
            </div>
          </div>
          {% else %} {% for waitlist_log in waitlist_logs %}
          <div class="card activity-card text-center mt-3">
            <div class="card-body">
              <div>{{waitlist_log}}</div>
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>
        <!-- subscription-activity-col -->
      </div>
      <!-- row -->
    </div>
    <!-- container-fluid -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
  <script src="{{url_for('static', filename='app.js')|version}}"></script>
</html>
