<!DOCTYPE html>
<html>

<head>
  {% block title %}{% endblock %} {% include 'common.html' %}
</head>

<body style="height: calc(100% - 60px)">
  <div id="new-features-alert"
       class="alert alert-success alert-dismissible fade show py-2 my-0 d-none">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="16"
         height="16"
         fill="currentColor"
         class="bi bi-info-circle-fill me-1"
         viewBox="0 0 16 21">
      <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </svg>
    Set your phone number and change other Subscriptions preferences in the
    <b>Notifications</b> box on the <a class="text-success text-decoration-underline"
       href="/dashboard?&skip">Dashboard</a>!
    <button id="new-features-alert-close"
            type="button"
            class="btn-close pb-1"
            data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
  <div id="loading-overlay">
    <div id="loading-spinner"
         class="spinner-border text-warning"
         role="status"></div>
  </div>
  {% include 'nav/nav.html' %} {% if loggedin %} {% include 'about.html' %} {% else %}
  <div id="main"
       class="container-fluid">
    <div class="row align-items-start">
      <div id="search-wrapper"
           class="d-flex flex-column col-lg-4">
        {% if is_admin %} {% include 'admin/admin_search.html' %} {% else %} {% include
        'search/search.html' %} {% endif %}
      </div>
      <div id="right-wrapper"
           class="col-lg-8 px-0">
        {% if is_dashboard %} {% include 'dashboard/dashboard.html' %} {% elif is_admin %} {%
        include 'admin/admin.html' %} {% else %} {% include 'course/course.html' %} {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='app.js')|version}}"></script>
</body>

</html>