{% if is_dashboard %}
<form
  id="search-form"
  class="form-inline my-0"
  action="/dashboard"
  method="get"
>
  {% include 'search/search_form.html' %}
  <input id="search-form-courseid" type="hidden" name="courseid" value="" />
</form>
{% else %}
<form id="search-form" class="form-inline my-0" action="/course" method="get">
  {% include 'search/search_form.html' %}
  <input
    id="search-form-courseid"
    type="hidden"
    name="courseid"
    value="{{course_details.courseid}}"
  />
</form>
{% endif %}
<div id="search-results" class="d-flex flex-column my-2">
  {% include 'search/search_results.html' %}
</div>
<div
  id="live-notifs-status-wrapper"
  class="mt-auto mb-2 p-3 border border-warning border-2"
  data-title="Live Status"
  data-intro="During course selection periods, see the live status of TigerSnatch here!"
  data-step="1"
>
  {% include 'utils/live_notifs_status.html' %}
</div>
