<td>{{class.section}}</td>
{% if class.isFull %} {% if class.classid in curr_waitlists %}
<td>
  <div class="form-check form-switch">
    <input class="form-check-input waitlist-switch"
           type="checkbox"
           id="switch-{{class.classid}}"
           data-classid="{{class.classid}}"
           data-bs-toggle="modal"
           data-bs-target="#confirm-remove-waitlist"
           checked
           {%
           if
           is_course_disabled
           %}
           disabled
           {%
           endif
           %} />
  </div>
</td>
{% else %}
<td>
  <div class="form-check form-switch">
    <input class="form-check-input waitlist-switch"
           type="checkbox"
           id="switch-{{class.classid}}"
           data-classid="{{class.classid}}"
           {%
           if
           is_course_disabled
           %}
           disabled
           {%
           endif
           %} />
  </div>
</td>
{% endif %} {% else %}
<td></td>
{% endif %}
<td>
  {{class.wl_size}}
  {% if class.wl_size > 0 %}
  <button id="subs-stats-button"
          type="button"
          class="btn btn-warning py-0 px-1 ms-1"
          data-bs-toggle="tooltip"
          data-bs-placement="auto"
          title="{{class.subs_stats | replace('|', '<br/>')}}">Who?</button>
  {% endif %}
</td>
<td>{{class.time_of_last_notif}}</td>
<td>{{'Open' if class.status_is_open else 'Closed'}}</td>
<td>{{class.enrollment}} / {{class.capacity}}</td>
<td>{{class.days}}</td>
{% if class.end_time == "" %}
<td>{{class.start_time}}</td>
{% else %}
<td>{{class.start_time}} - {{class.end_time}}</td>
{% endif %}
{% if user_is_admin %}
<td>{{class.classid}}</td>
{% endif %}