{% if course_details is none %}
<div class="container-fluid">
  <div class="row text-center">
    <p class="fs-5 px-0 py-5">
      Course sections are displayed here. <br />
      Search to get started!
    </p>
  </div>
</div>
{% else %}
<div class="table-responsive mt-2">
  <table class="table table-hover">
    <thead class="table-white">
      <tr>
        <th scope="col">Section</th>
        <th scope="col">
          Subscribe
          <i class="bi bi-info-square-fill text-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="Subscribe to a section by turning on its switch!{% if not has_reserved_seats %} Only full or closed sections have switches.{% endif %}"></i>
        </th>
        <th scope="col">
          # Tigers
          <i class="bi bi-info-square-fill text-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="This shows the total number of Subscriptions for a section."></i>
        </th>
        <th scope="col">
          Last Notif
          <i class="bi bi-info-square-fill text-primary"
             data-bs-toggle="tooltip"
             data-bs-placement="top"
             title="When did TigerSnatch last send notifications (ET) for open spots in a section?"></i>
        </th>
        <th scope="col">Status</th>
        <th scope="col">Enrollment</th>
        <th scope="col">Days</th>
        <th scope="col">Time</th>
        {% if user_is_admin %}
        <th scope="col">ClassID (admin)</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for class in classes_list %} {% if class.isFull %}
      <tr class="full-section-row">
        {% include 'course/course_table_row.html' %}
      </tr>
      {% else %}
      <tr class="available-section-row d-none">
        {% include 'course/course_table_row.html' %}
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
  {% if num_full == 0 %}
  <div id="no-full-message"
       class="container-fluid">
    <div class="row text-center">
      <p class="fs-5 px-0 py-1">
        This course has no full sections. <br />
        Search for another course!
      </p>
    </div>
  </div>
  {% endif %}
</div>
<br />

{% include 'utils/modals.html' %} {% endif %}