<div class="container px-0 ms-0 d-flex flex-column justify-content-center h-100">
  <div id="links-header"
       class="fs-5 pb-0">Quick Links</div>
  <div id="links-content"
       class="container px-0 ms-0 d-flex align-items-center flex-shrink-1">
    <a class="course-quick-link me-3 text-dark"
       target="_blank"
       href="https://registrar.princeton.edu/course-offerings/course-details?term={{term_code}}&courseid={{courseid}}">
      <i class="bi bi-box-arrow-up-right me-1"></i>Registrar
    </a>
    <a class="course-quick-link me-3 text-dark"
       target="_blank"
       href="https://www.princetoncourses.com/course/{{term_code}}{{courseid}}">
      <i class="bi bi-box-arrow-up-right me-1"></i>Princeton Courses
    </a>
    <a class="course-quick-link me-3 text-dark"
       target="_blank"
       href="https://tigermap.tigerapps.org/{{courseid}}">
      <i class="bi bi-box-arrow-up-right me-1"></i>TigerMap
    </a>
    <a class="course-quick-link me-3 text-dark"
       target="_blank"
       href="https://phubprod.princeton.edu/psp/phubprod/?cmd=start">
      <i class="bi bi-box-arrow-up-right me-1"></i>TigerHub
    </a>
  </div>
</div>