<div class="px-4 pt-3">
  <span class="badge bg-warning text-dark font-monospace px-1 py-1 fs-5"
    >{{ course_details.displayname.split('/')[0] }}
  </span>
  {% if 0==0 %}
  <!-- TODO: replace the conditional logic with a flag for whether or not a course is disabled -->
  <span
    class="badge bg-danger text-light font-monospace fw-bold px-1 py-1 ms-1 fs-5"
    style="cursor: help; padding-bottom: 0.2rem !important"
    data-bs-toggle="tooltip"
    data-bs-placement="auto"
    title="An instructor has disabled TigerSnatch Subscriptions for this course. Email notifications will not be sent, and further subscriptions are not allowed. Check Official Course Offerings or contact a course instructor for more details."
    >DISABLED<svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill text-light ms-2 me-0"
      viewBox="0 0 16 18"
    >
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
  </span>
  {% endif %}
  <a id="search-skip" class="fw-light ps-3" href="" style="text-decoration: underline">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-90deg-up me-1"
      viewBox="0 0 16 20"
    >
      <path
        fill-rule="evenodd"
        d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"
      /></svg
    >search
  </a>
</div>

<div class="px-4 pt-0 pb-1 fs-2">{{ course_details.title }}</div>
