<td>{{class.section}}</td>
{% if class.isFull %} {% if class.classid in curr_waitlists %}
<td>
  <div class="form-check form-switch">
    <input class="form-check-input waitlist-switch"
           type="checkbox"
           id="switch-{{class.classid}}"
           data-classid="{{class.classid}}"
           data-bs-toggle="modal"
           data-bs-target="#confirm-remove-waitlist"
           checked
           {%
           if
           is_course_disabled
           %}
           disabled
           {%
           endif
           %} />
  </div>
</td>
{% else %}
<td>
  <div class="form-check form-switch">
    <input class="form-check-input waitlist-switch"
           type="checkbox"
           id="switch-{{class.classid}}"
           data-classid="{{class.classid}}"
           {%
           if
           is_course_disabled
           %}
           disabled
           {%
           endif
           %} />
  </div>
</td>
{% endif %} {% else %}
<td></td>
{% endif %}
<td>
  {{class.wl_size}}

  {% if class.wl_size > 0 %}
  <span class="stats-subs-badge badge bg-primary text-light ms-1"
        data-bs-toggle="tooltip"
        data-bs-placement="auto"
        title="{{class.subs_stats | replace('|', '<br/>')}}">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="12"
         height="15"
         fill="currentColor"
         class="bi bi-person-circle"
         viewBox="0 0 17 21">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </svg>
  </span>
  {% endif %}
</td>
<td>{{class.time_of_last_notif}}</td>
<td>{{'Open' if class.status_is_open else 'Closed'}}</td>
<td>{{class.enrollment}} / {{class.capacity}}</td>
<td>{{class.days}}</td>
{% if class.end_time == "" %}
<td>{{class.start_time}}</td>
{% else %}
<td>{{class.start_time}} - {{class.end_time}}</td>
{% endif %}
{% if user_is_admin %}
<td>{{class.classid}}</td>
{% endif %}