<span
  id="status-indicator"
  class="fs-6 ms-3 animate__animated animate__fadeIn"
  data-title="Status"
  data-intro="Hover over this badge to get a summary of TigerSnatch's current status!"
  data-step="2"
  data-bs-toggle="tooltip"
  data-bs-placement="auto"
  title="Term: {{term_name}}. {{'TigerSnatch is actively sending notifications for open spots!' if notifs_online else 'TigerSnatch is not currently sending notifications for open spots.'}} {{next_notifs}}"
>
  status:
  <i
    class="fs-6 bi {{ 'bi-bell-fill' if notifs_online else 'bi-bell-slash-fill' }} {{ 'text-success' if notifs_online else 'text-danger' }}"
  ></i>
</span>
