<div class="modal fade"
     id="account-settings-modal"
     data-classid=""
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="staticBackdropLabel">Account Settings</h5>
            </div>
            <div class="modal-body"
                 id="modal-body-account-settings">

                <div class="container px-0 ms-0">
                    <div class="row">
                        <form id="new-email"
                              action="/dashboard"
                              method="post">
                            <div class="input-group mb-2">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         fill="currentColor"
                                         class="bi bi-envelope"
                                         viewBox="0 0 16 16">
                                        <path
                                              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                    </svg>
                                </div>

                                <input id="new-email-input"
                                       class="form-control form-control-md"
                                       name="new_email"
                                       maxlength="75"
                                       placeholder="Email address"
                                       value="{{ email if email else '' }}"
                                       pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="TigerSnatch will email you when a spot frees up! We recommend using your @princeton.edu address to prevent TigerSnatch emails from being marked as spam."
                                       required />
                                <button class="btn btn-warning">Change Email</button>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <form id="new-phone"
                              action="/dashboard"
                              method="post">
                            <div class="input-group mb-2">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         fill="currentColor"
                                         class="bi bi-phone"
                                         viewBox="0 0 16 16">
                                        <path
                                              d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                                        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg>
                                </div>

                                <input id="new-phone-input"
                                       class="form-control form-control-md"
                                       name="new_phone"
                                       maxlength="10"
                                       placeholder="Phone number"
                                       value="{{ phone if phone else '' }}"
                                       pattern="^\d{10}$"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="TigerSnatch will text you when a spot frees up! Note that you must use a US phone number." />
                                <button class="btn btn-warning">Change Phone</button>
                            </div>
                        </form>
                    </div>

                    <div class="row"
                         id="auto-resub-row">
                        <div class="input-group mb-2">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     fill="currentColor"
                                     class="bi bi-bell"
                                     viewBox="0 0 16 16">
                                    <path
                                          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                </svg>
                            </div>
                            <label>Stay Subscribed?
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="18"
                                     height="18"
                                     fill="currentColor"
                                     class="bi bi-info-square-fill text-primary"
                                     viewBox="0 0 16 20"
                                     data-bs-toggle="tooltip"
                                     data-bs-placement="top"
                                     title="Turn on the switch to keep receiving open-spot notifications for a section until you manually unsubscribe. Turn off the switch to be auto-unsubscribed upon first notification.">
                                    <path
                                          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                            </label>
                            <div>
                                {% if auto_resub %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="auto-resub-switch"
                                           checked />
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="auto-resub-switch" />
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        id="waitlist-modal-close"
                        class="btn btn-warning"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>